disattivato{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    /*ATTENTO 
    da fare ogni volta che si inizia a lavorare */
}

body{
    background-color: lightgrey;
}

.main-logo{
    block-size: 70px;
    position: absolute;
    left: 10px;
    top: 15px;
    
}

.fontlogo{
    display: block;
    font-size: 60px;
    position: absolute;
    top: 11px;
    left: 90px;
}

header{
    background-color: white;
    block-size: 100px;
    
    
}

main{
    margin: 0 auto;
    max-width: 900px;
    padding-top: 50px;
}

.doppio-tasto{
    background-color: white;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    border-color: grey;
}

.linea{
    width: auto;
    height: 2px;
}

ul{
    list-style-type: none;
    padding-left: -15px;
}

.section-corpo{
    background-color: white;
    height: 600px;
    width: 800px;
    border-radius: 10px;
}

#button-task{
    background-color: #47ADF1;
    margin: 30px 5px;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    color: white;
}

#button-section{
    background-color: white;
    margin: 30px 5px;
    width: 120px;
    height: 35px;
    border-radius: 7px;
    color: grey;

}

li{
    margin: 20px 20px;
    
}

.checkgreen{
    border: 2px solid green;
    border-radius: 100%;
    color: green;
}

.denyred{
    border: 2px solid red;
    border-radius: 100%;
    color: red;
}

.editorial-span{
    background-color: #47ADF1;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}

.goals-span{
    background-color: #703aad;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}

.recruiting-span{
    background-color: #2b804c;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}

.mobile-span{
    background-color: #e09028;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}

.website-span{
    background-color: #be1da9;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}

.sales-span{
    background-color: #74ac1a;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 10px;
    color: white;
}
